@model DevEnvExamProject.Models.ProfileViewModel

<h3>Add Profile Information</h3>

@* 
    // UPLOAD / ADD PERSONAL IMAGE
    // ADD PERSONAL INFORMATION
    // ADD CONTACT INFORMATION
    // FUTURE ROLES
    // PAST ROLES
*@


<div class="form-group">
    @Html.LabelFor(m => m.GradeExperience, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.PasswordFor(m => m.GradeExperience, new { @class = "form-control" })
    </div>
</div><br />
<br />

<div class="form-group">
    @Html.LabelFor(m => m.YearsOfExperience, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.PasswordFor(m => m.YearsOfExperience, new { @class = "form-control" })
    </div>
</div><br />
<br />

<div class="form-group">
    @Html.LabelFor(m => m.LastTimeRoleWasUsed, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.PasswordFor(m => m.LastTimeRoleWasUsed, new { @class = "form-control" })
    </div>
</div><br />
<br />
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" class="btn btn-default" value="Add Profile Information" />
    </div>
</div>

@Html.ActionLink("Go Back", "Index", "Users")
