@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
@if (ViewBag.displayMenu == "Yes")
{
    <h1>Welcome Admin</h1>
<br />
            <dd>
                @Html.ActionLink("Add Employee", "RegisterEmployee", "Account")
            </dd>
            <br />
            <dd>
                @Html.ActionLink("See Employees", "ListOfEmployees", "Users")
            </dd>
            <dd>
                @Html.ActionLink("Add Roles", "AddRole", "Role")
            </dd>
            <br />
            <dd>
                @Html.ActionLink("See Roles", "ListOfRoles", "Role")
            </dd>
            <br />
}
else
{
    <h1>Welcome <strong>@ViewBag.Name</strong> :)</h1>
}

<profile>
    <properties>
        <add name="Name" allowAnonymous="true"/>
        <add name="VisitedOn" type="System.DateTime" allowAnonymous="true"/>
    </properties>
</profile>
